@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  outline   : 0
}

ul {
  margin : 0;
  padding: 0;
}

html,
body,
#root,
.app {
  height     : 100%;
  width      : 100%;
  font-family: 'Inter', sans-serif;
}